<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="List">
    <!-- call List.selectFromUSERS_LIST -->
    <select id="selectFromUSERS_LIST" 
        parameterType="Map" resultType="Map">
        SELECT *
        FROM USERS_LIST
    </select>

    <!-- call List.selectFromUSERS_LISTByUid -->
    <select id="selectFromUSERS_LISTByUid" 
        parameterType="Map" resultType="Map">
        SELECT *
        FROM USERS_LIST
        WHERE USERS_UID = #{USERS_UID}
    </select>

    <!-- call List.updateByUID -->
    <update id="updateByUID" parameterType="Map">
        UPDATE USERS_LIST
        SET EMAIL = #{EMAIL},
        PWD = #{PWD},
        PHONE = #{PHONE}
        WHERE USERS_UID = #{USERS_UID}
    </update> 

    <!-- call List.deleteUserByUid -->
    <delete id="deleteUserByUid" parameterType="Map">
        
        DELETE FROM USERS_LIST
        WHERE USERS_UID = #{USERS_UID}
        
    </delete>

<choose>
    <when test = >
</chosose>